#bg-img{    
    background: rgba(0,0,0,0.5);
    background-image: url('https://imgur.com/tKcjmiG');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}